<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form method = "POST" action = "/user">

        <label for="name">Enter Full Name</label>
        <input type="text" required name="name">
    </br>
        </br>
        <label for="name">Enter Email</label>
        <input type="text" required name="email">
    </br>
        </br>
        <label for="name">Enter Password</label>
        <input type="text" required name="password">
    </br>
        </br>
        <button type="submit">Signup</button>

    </form>
</body>
</html>